*, *::before, *::after {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
  
:root {
    --theme-color-black: #17252A; /* rgba(23,37,42,1) */
    --theme-color-dark: #2B7A78; /* rgba(43,122,120, 1) */
    --theme-color-main: #3AAFA9; /* rgba(58, 175, 169, 1) */
    --theme-color-light: #DEF2F1; /* rgba(222,242,241,1) */
    --theme-color-white: #FEFFFF; /* rgba(254, 255, 255, 1) */
}
  
/* ---------- MAIN BODY DECLERATIONS ---------- */
  
html, body {
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    background-color: var(--theme-color-white);
    min-height: 100%;
    min-width: 100%;
  }

header .logo-wrapper {
    height: auto;
    margin: 0 auto;
    padding: 1rem 0;
    width: auto;
}
    
.logo-wrapper img {
    display: block;
    height: 2.5rem;
    margin: 0 auto;
    width: auto;
}